/*
/* All styles for the blog home
/*_______________________________________________________*/
.blog {
	.list article {
		margin-bottom: 4rem;

		&:after {
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			left: 0;
			bottom: -30px;
			background-color: lighten($color2, 20%);
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: $break_tablet) {

}

/*
/* Mobile Styles (maximum of 480px)
/*_______________________________________________________*/
@media screen and (max-width: $break_mobile) {

}