/*
/* All styles specific to the homepage
/*_______________________________________________________*/

/*
/* Mobile Styles
/*_______________________________________________________*/
.sb-frontpage-content {
	&__intro {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&--left {
			@include flex(100%);
		}

		&--right {
			margin-top: 2rem;
			@include flex(100%);
			display: flex;
			justify-content: center;

			img {
				max-height:400px;
				width: auto;
			}
		}
	}

	&__latest {
		position: relative;	

		&--recipe {
			margin-bottom: 4rem;

			img {
				max-width: 400px;
				display: block;
				margin: 0 auto 1.5rem;
				text-align: center;
			}
		}
	}
}

/*
/* Tablet Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: $break_tablet) {
	.sb-frontpage-content {
		&__intro {
			&--left {
				@include flex(50%);
			}

			&--right {
				@include flex(50%);
			}
		}
	}
}

/*
/* Desktop Styles (minimum 1024px)
/*_______________________________________________________*/
@media screen and (min-width: $break_desktop) {
	.sb-frontpage-content {
		&__latest {
			display: flex;
			justify-content: space-between;

			&--news {
				@include flex(48%);
			}

			&--recipe {
				@include flex(48%);
			}

			&:after {
				content: '';
				width: 2px;
				height: 80%;
				display: block;
				background-color: $color3;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}