/*
/* All styles specific to the homepage
/*_______________________________________________________*/

/*
/* Mobile Styles
/*_______________________________________________________*/
.sb-frontpage-content {
	&__latest {
		@include container(1200px);

		&--news {
			margin-bottom: 2rem;
		}
	}
}

/*
/* Tablet Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: $break_tablet) {}

/*
/* Desktop Styles (minimum 1024px)
/*_______________________________________________________*/
@media screen and (min-width: $break_desktop) {
	.sb-frontpage-content {
		&__latest {
			display: flex;
			justify-content: space-between;
			position: relative;

			&--news {
				@include flex(48%);
			}

			&--recipe {
				@include flex(48%);
			}

			&:after {
				content: '';
				height: 80%;
				width: 1px;
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				pointer-events: none;
				background-color: lighten($color1, 10%);
			}
		}
	}
}