/*
/* Desktop Styles
/*_______________________________________________________*/
.single-post {

	#to_ingredients,
	#to_top {
		display: none;
	}

	.sb-breadcrumbs {
		border-bottom: 1px solid $color3;
		padding-bottom: 2rem;
	}

	.wp-video {
		width: 100% !important;
		height: auto !important;
		min-width: 0 !important;

		.mejs-container {
			width: 100% !important;
			height: auto !important;
			min-width: 0 !important;
		}

		.mejs-mediaelement {
			position: static;
			height: auto;
		}

		video {
			height: 100% !important;
			width: 100% !important;
			max-height: 500px;
		}
	}

	.sb-container.sb-two-col {
		margin-top: 3rem;

		h2 {
			&:after {
				content: '';
				margin-left: 1.5rem;
				display: inline-block;
				height: 4rem;
				min-width: 4rem;
				background-image: url('../../../assets/images/heart.svg');
				background-size: cover;
			}
		}
	}

	.sb-post-content {
		padding: 1.5rem 1.5rem 1.5rem 0;
		border-radius: 1rem;
		position: relative;

		&:before {
			content: '';
			width: 1px;
			height: 100%;
			background-color: $color3;
			position: absolute;
			right: 0;
			top: 0;
		}

		p {
			font-size: 1.6rem;
		}

		img {
			width: 32%;
			margin-left: 1%;
			margin-right: -8px;
		}
	}

	.sb-ingredients {
		padding: 1.5rem 0;
		border-radius: 1rem;

		ul {
			list-style: none;
			padding: 0;

			li {
				position: relative;
				margin-bottom: .5rem;

				&:before {
					content: '';
					height: 20px;
					width: 20px;
					display: inline-block;
					margin-right: 1rem;
					vertical-align: top;
					background-image: url('../../../assets/images/weight.svg');
					background-size: cover;
					background-position: 0 3px;
				}
			}
		}
	}

	.sb-breadcrumbs {
		margin-top: 2.5rem;
	}

	.sb-comments {
		ol {
			list-style: none;
			padding: 0;

			>li {
				padding-bottom: 2rem;
				border-bottom: 1px solid $color2;
				margin-bottom: 2rem;

				.children {
					list-style: none;
					margin-top: 2rem;
				}
			}
		}

		.comment-form {

			label+input,
			label+textarea {
				display: block;
			}

			input,
			textarea {
				padding: 0 1rem;
			}

			textarea {
				padding-top: 1rem;
				max-width: 100%;
			}

			.comment-form-cookies-consent {
				display: flex;
				align-items: center;
				font-size: 1.2rem;
				line-height: 1.6rem;
			}

			.submit {
				@include button();
				cursor: pointer;
			}
		}
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: 768px) {
	.single-post {

		#to_ingredients,
		#to_top {
			display: block;
			position: fixed;
			bottom: 1.1rem;
			right: 1rem;
			z-index: 98;

			span {
				pointer-events: none;
			}

			a:visited {
				color: #FFF;
			}
		}

		.sb-post-content {
			@include flex(100%);
			border-bottom: 1px solid $color3;
			border-radius: 0;
			padding: 1.5rem 0;

			&:before {
				display: none;
			}

			img {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 5px;
			}
		}

		.sb-ingredients {
			@include flex(100%);
		}
	}
}

/*
/* Mobile Styles (maximum of 320px)
/*_______________________________________________________*/
@media screen and (max-width: 320px) {}