/*
/* Mobile Styles
/*_______________________________________________________*/
.sb-bakingbags {
	@include container(1200px);
	overflow: hidden;
	
	.baking-bag {
		text-align: center;
		padding-bottom: 4rem;
		position: relative;

		img {
			max-height: 150px;
			display: block;
			margin: 0 auto 1rem;
		}

		.btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
	}
}

/*
/* Tablet Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: 768px) {

}

/*
/* Desktop Styles (minimum 1024px)
/*_______________________________________________________*/
@media screen and (min-width: 1024px) {

}