/*
/* Desktop Styles
/*_______________________________________________________*/
.sb-bakingbags {
	@include container(1200px);
	
	.baking-bag {
		text-align: center;
		padding-bottom: 4rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		img {
			max-width: 100%;
			height: 200px;
			display: block;
			margin: 0 auto;
		}

		.btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: 768px) {

}

/*
/* Mobile Styles (maximum of 320px)
/*_______________________________________________________*/
@media screen and (max-width: 320px) {

}