/*
/* All styling for the post navigation
/*_______________________________________________________*/
.wp-pagenavi {
	text-align: center;
	
	a {
		border: none;
		font-weight: 300;
	}

	.current {
		border: none;
		font-weight: 700;
	}

	.extend {
		border: none;
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: $break_tablet) {

}

/*
/* Mobile Styles (maximum of 320px)
/*_______________________________________________________*/
@media screen and (max-width: $break_mobile) {

}