/*
/* Desktop Styles
/*_______________________________________________________*/
.sb-recipe-post {
	padding-bottom: 5.6rem;
	position: relative;

	img {
		height: auto;
		width: 100%;
		margin: 0 auto 1rem;
		display: block;
	}

	.btn {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	+.sb-recipe-post {
		padding-top: 2.3rem;
	}
}

.list .sb-recipe-post {
	
}

/*
/* Mobile Styles
/*_______________________________________________________*/


/*
/* Tablet Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: 768px) {

}

/*
/* Desktop Styles (minimum 1024px)
/*_______________________________________________________*/
@media screen and (min-width: 1024px) {
	.list .sb-recipe-post {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		.photo {
			@include flex(30%);
			margin-right: 3%;
			display: flex;
	
			img {
				&:hover {
					opacity: .7rem;
				}
			}
		}

		h5 {
			@include flex(100%);
		}

		.content {
			@include flex(67%);
		}
	}
}