/*
/* Desktop Styles
/*_______________________________________________________*/
.sb-recipe-post {
	padding-bottom: 4.6rem;
	position: relative;

	img {
		height: auto;
		width: 100%;
		margin: 0 auto;
		display: block;
	}

	.btn {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	+.sb-recipe-post {
		padding-top: 2.3rem;
	}
}

.list .sb-recipe-post {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	h5 {
		@include flex(100%);
	}

	.photo {
		@include flex(30%);
		margin-right: 3%;
		display: flex;

		img {

			&:hover {
				opacity: .7rem;
			}
		}
	}

	.content {
		@include flex(67%);
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: 768px) {

}

/*
/* Mobile Styles (maximum of 320px)
/*_______________________________________________________*/
@media screen and (max-width: 320px) {

}