/*
/* All styling for the navigation
/*_______________________________________________________*/

.sb-nav {
	text-align: right;
	@include container(1200px);
	position: relative;
	margin-bottom: 3rem;

	ul {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding: 1.5rem 0;

		li {
			margin-right: 5rem;

			a {
				text-decoration: none;
				color: $color4;
				transition: all .3s ease-in-out;

				&:hover {
					color: darken($color4, 15%);
				}
			}

			&:last-child {
				margin-right: 0;
			}

			&.menu-item-has-children { 
				a:after {
					@include fa-icon('\f078', 1.3rem, inherit);
					margin-left: .4rem;
				} 
			}
		}
	}

	.sub-menu {
		display: none;
	}
}