/*
/* Desktop Styles
/*_______________________________________________________*/

.backdrop .fas.fa-search {
	pointer-events: none;
}

.fas.fa-search {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	margin: 0 1.5rem;
	color: $color4;
	cursor: pointer;
	transition: all .3s ease-in-out;

	&:hover {
		color: $color2;
	}
}

.search {

	&__container {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(255, 255, 255, .7);
		opacity: 0;
		pointer-events: none;
		transition: all .3s ease-in-out;
	}

	&__controls {
		padding-top: 5rem;
		margin-bottom: 3rem;
		text-align: center;

		input {
			max-width: 500px;
			width: 100%;
		}
	}

	&__results {
		width: 100%;
	}

	&__close {
		position: absolute;
		padding: 1rem;
		width: 2.5rem;
		height: 2.5rem;
		text-align: center;
		top: 3rem;
		right: 3rem;
		font-size: 2.5rem;
		color: #FFF;
		background-color: $color2;
		border-radius: 50%;
		cursor: pointer;
		transition: all .3s ease-in-out;

		&:hover {
			background-color: $color3;
		}
	}
}

.search-active .search__container {
	opacity: 1;
	pointer-events: auto;
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: 768px) {}