/*
/* Desktop Styles
/*_______________________________________________________*/

.backdrop .fas.fa-search {
	pointer-events: none;
}

.fas.fa-search {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	margin: 0 1.5rem;
	color: $color4;
	cursor: pointer;
	transition: all .3s ease-in-out;

	&:hover {
		color: $color2;
	}
}

.search {

	&__tab-headings {
		display: flex;
		justify-content: space-evenly;
		overflow: auto;

		h2 {
			cursor: pointer;
			transition: all .15s ease-in-out;
			margin-right: 1.5rem;
			white-space: nowrap;

			&:hover {
				color: $color2 !important;
			}
		}

		h2:not(.active) {
			color: #242424;
		}
	}

	&__container {
		position: fixed;
		z-index: 101;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: none;
		width: 100vw;
		height: 100vh;
		background-color: rgba(255, 255, 255, .9);
		opacity: 0;
		pointer-events: none;
		transition: all .3s ease-in-out;
	}

	&__controls {
		padding-top: 5rem;
		margin-bottom: 3rem;
		text-align: center;

		input {
			max-width: 500px;
			width: 100%;
			padding: 0 2rem;
		}
	}

	&__results {
		width: 100%;

		.tab-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			pointer-events: none;
			transition: all .15s ease-in-out;

			body.search-active & {
				&.active {
					opacity: 1;
					pointer-events: auto;
				}
			}

			&__wrapper {
				height: calc(100vh - 300px);
				width: 100%;
				position: relative;
			}
		}
	}

	&__close {
		position: absolute;
		padding: 1rem;
		width: 4rem;
		height: 4rem;
		text-align: center;
		top: 3rem;
		right: 3rem;
		font-size: 2.5rem;
		color: #FFF;
		background-color: $color2;
		border-radius: 50%;
		cursor: pointer;
		transition: all .3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			position: relative;
			top: -1px;
		}

		&:hover {
			background-color: $color3;
		}
	}

	&-results__list {
		height: calc(100vh - 300px);
		overflow: auto;
		list-style: none;
		padding: 0;

		body:not(.search-active) & {
			pointer-events: none;
		}

		li {
			display: flex;
			border-bottom: 1px solid #C0C0C0;
			padding-bottom: 2rem;
			margin-bottom: 2rem;

			.thumbnail {
				margin-right: 1rem;
				@include flex(150px);

				img {
					width: 100%;
					display: block;
				}
			}

			.content {
				@include flex(50%, 1, 1);
			}
		}
	}
}

.search-active {
	overflow: hidden;

	.search__container {
		opacity: 1;
		pointer-events: auto;
	}
}

.heart-loader {
	background-color: $color2;
	width: 75px;
	height: 75px;
	position: relative;
	transform: rotate(45deg);
	animation: pulsate 1s infinite;
}

.heart-loader::before,
.heart-loader::after {
	display: inline-block;
	content: "";
	width: 75px;
	height: 75px;
	background-color: $color2;
	position: absolute;
	border-radius: 50%;
}

.heart-loader::before {
	top: 0px;
	left: -25px;
}

.heart-loader::after {
	top: -25px;
	left: -0px;
}


@-webkit-keyframes pulsate {

	0%,
	10%,
	50%,
	100% {
		-webkit-transform: rotate(45deg) scale(0.8);
		transform: rotate(45deg) scale(0.8);
		transform: rotate(45deg) scale(0.8);
	}

	5% {
		-webkit-transform: rotate(45deg) scale(0.9);
		transform: rotate(45deg) scale(0.9);
	}

	15% {
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
}

@keyframes pulsate {

	0%,
	10%,
	50%,
	100% {
		-webkit-transform: rotate(45deg) scale(0.8);
		transform: rotate(45deg) scale(0.8);
		transform: rotate(45deg) scale(0.8);
	}

	5% {
		-webkit-transform: rotate(45deg) scale(0.9);
		transform: rotate(45deg) scale(0.9);
	}

	15% {
		-webkit-transform: rotate(45deg) scale(1);
		transform: rotate(45deg) scale(1);
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: 480px) {
	.search {
		&__tab-headings {
			justify-content: flex-start;
		}
	}
}