/*
/* Mobile Styles
/*_______________________________________________________*/
footer {
	@include container();

	.sb-footer {
		text-align: center;

		&__col {
			padding-bottom: 2rem;

			h4 {
				margin-bottom: 1rem;
				font-family: $alt_font_family;
			}

			ul {
				padding:0;
				margin: 0;
				list-style: none;
			}

			.fa-instagram {
				font-size: 3rem;
			}
		}
	}
}

/*
/* Tablet Styles (minimum of 768px)
/*_______________________________________________________*/
@media screen and (min-width: 768px) {
	footer {

		.sb-footer {
			display: flex;
			justify-content: space-between;

			&__col {
				@include flex(30%);
			}
		}
	}
}

/*
/* Desktop Styles (minimum 1024px)
/*_______________________________________________________*/
@media screen and (min-width: 1024px) {

}