/*
/* Desktop Styles
/*_______________________________________________________*/
footer {
	@include container();

	.sb-footer {
		@include container(1200px);
		display: flex;
		justify-content: space-between;
		text-align: center;

		&__col {
			@include flex(30%);
			padding-bottom: 2rem;

			h3 {
				margin-bottom: 1rem;
			}

			ul {
				padding:0;
				margin: 0;
				list-style: none;
			}

			.fa-instagram {
				font-size: 3rem;
			}
		}
	}
}

/*
/* Tablet Styles (up to 768px)
/*_______________________________________________________*/
@media screen and (max-width: 768px) {

}

/*
/* Mobile Styles (maximum of 320px)
/*_______________________________________________________*/
@media screen and (max-width: 320px) {

}